body{
background-image: url(fcb.jpg);
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: lighten;
}









.nishant{
background-color: gold;
display: inline-block;








}

.img{
    border: 10px  solid;
    
}

.gg{
border: 10px solid;




}

